.index {
    padding-top: 8.5rem;

    .wrap_inner {
        max-width: 1140rem;
        padding: 0 5rem;

        .cover_img_wrap {
            width: 100%;
            height: 100%;
            overflow: hidden;

            #svgContainer {
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }


        .index_top_tab {
            max-width: 620px;
            height: 52px;
            margin: 0 auto;
            padding: 0 5rem;
        }

        .index_center_wrap {
            padding-top: 20px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            max-width: 620px;
            height: 560px;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.8);
            border: 1px solid;
            border-image-source: linear-gradient(178.76deg, rgba(229, 236, 242, 0.6) -6.75%, rgba(225, 225, 225, 0) 175.6%);
            border-radius: 8px;
            box-shadow: 0px 15px 25px 0px #2D9CDB29;


            .center_wrap_topTab {
                .tab_item {
                    position: relative;
                    font-size: 20px;
                    color: $light-font-color;
                    // margin-bottom: -2px;
                    line-height: 2em;
                    font-weight: 500;

                    @include respond-to("xsmall") {
                        width: 50%;
                        position: relative;
                        text-align: center;
                        font-size: 16px;
                        line-height: 2em;
                        font-weight: 500;
                        margin-bottom: 0px;
                    }
                }

                .tab_item:nth-child(2) {
                    margin-left: 2rem;
                }

                .tab_item--active {
                    font-size: 20px;
                    color: $font-color;
                    font-weight: 700;
                    line-height: 2em;
                }

                .tab_item--active:before {
                    content: "";
                    position: absolute;
                    width: 32px;
                    height: 8px;
                    bottom: -1rem;
                    left: 35%;
                    background: linear-gradient(270deg, #FE9B4B 35.07%, rgba(244, 120, 20, 0) 129.69%);
                    border-radius: 8px;

                    @include respond-to("xsmall") {
                        left: 0;
                        bottom: -2px;
                        margin-right: -2px;
                    }
                }
            }

            .center_wrap_bg {
                margin-top: 2rem;
                background: linear-gradient(276.95deg, rgba(187, 211, 224, 0.32) 51.73%, rgba(187, 211, 224, 0) 136.75%);
                border-radius: 4px;
                height: 388px;
                max-width: 572px;

                .center_content {
                    display: block;

                }

                .img-wrap-download {
                    padding-top: 72px;
                    padding-bottom: 20px;
                    display: flex;
                    justify-content: center;

                    img {
                        height: 120px;
                        width: 120px;
                    }
                }

                .txt_wrap_upload {
                    width: 100%;
                    text-align: center;

                    p {
                        color: $font-color;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 28px;
                    }

                    p:nth-child(3) {
                        color: #88879C;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 24px;
                    }
                }

                .txt_wrap_scan {
                    width: 100%;
                    text-align: center;

                    p {
                        color: $font-color;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 28px;
                    }

                    p:nth-child(2) {
                        color: #88879C;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 24px;
                    }
                }
            }

            .bottom_wrap {
                display: flex;
                justify-content: center;
                margin-top: 20px;

                .btn {
                    color: white;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    border: 1px solid transparent;
                    padding: 12px 32px;
                    cursor: pointer;
                    background: radial-gradient(104.16% 106.67% at 50% 0%, #FE9B4B 0%, #F47814 100%);
                    box-shadow: 0px 4px 8px rgba(255, 115, 0, 0.28);
                    border-radius: 8px;
                }
            }
        }
    }
}