   body {
     font: 100% $font-stack;
     color: $primary-color;
     background-image: url(../imgs/background_design.png);
     background-repeat: no-repeat;
     background-size: 100%;
   }

   .wrap_inner {
     max-width: 1140px;
     margin: 0 auto;
     padding: 0 24px;

     //  @include respond-to("medium") {
     //    max-width: 991px;
     //    padding: 0 16px;
     //  }
   }

   //footer

   .footer {
     text-align: center;
     background-color: #062b50;
     color: #fff;
     font-size: 12px;
     padding-top: 24px;
     padding-bottom: 24px;

     .underline {
       margin-left: 12px;
       border-bottom: 1px solid currentColor;
     }
   }