doctype html
block head
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title F2E_點點簽
    //- link(rel='shortcut icon' href='https://mma.sinopac.com/images/favicon.ico')

    block style
        
    link(href='./font' rel='stylesheet')
    link(href='./fontawesome-free-6.1.2-web/css/all.min.css' rel='stylesheet')

    header
        .wrap_inner
            .header_wrap
                .logo_wrap
                    a.header_logo(href='homepage.html' rel='stylesheet')
                        img.header_logo-img(src="imgs/logo.png" alt="點點簽")
                .txt_wrap
                    a.header_txt(href='homepage.html' rel='stylesheet')
                        img.header_logo-txt(src="imgs/small_點點簽.png", alt="點點簽")
    block main

block script    