extends _layout.pug

append style 
    link(href='./css/styles.css' rel='stylesheet')

append main

    .index
        //- .index_head
        .wrap_inner
            .cover_img_wrap
                #svgContainer


append script
    script(src='./JS/bodymovin.js')
    script(src='./JS/lottie-web.js')
    script(src='./JS/david_animation.js')