header
    .wrap_inner
        .header_wrap
            .logo_wrap
                a.header_logo(href='homepage.html' rel='stylesheet')
                    img.header_logo-img(src="imgs/logo.svg" alt="點點簽")
            .txt_wrap
                a.header_txt(href='homepage.html' rel='stylesheet')
                    img.header_logo-txt(src="imgs/small_點點簽.svg", alt="點點簽")