
.wrap_inner
    .header_wrap
        .logo_wrap
            a.header_logo(href='homepage.html' rel='stylesheet')
                img.header_logo-img(src="imgs/logo.png" alt="點點簽")
        .txt_wrap
            a.header_txt(href='homepage.html' rel='stylesheet')
                img.header_logo-txt(src="imgs/small_點點簽.png", alt="點點簽")