extends _layout.pug

append style 
    link(href='./css/styles.css' rel='stylesheet')

append content

    .index
        //- .index_head
        .wrap_inner
            .cover_img_wrap
                #svgContainer
