extends _layout.pug

append vars
    - var title = '首頁';

append content

    .index_cover_page
        img.silver_line(src="./imgs/silver_line.svg", alt="")
        img.golden_line(src="./imgs/golden_line.svg", alt="")

        //- .index_head
        .wrap_inner
            .cover_img_wrap
                img(src="./imgs/david-icon.svg", alt="")
                //- #svgContainer
            .cover_txt_wrap
                p 點點簽
                p 隨手一簽就是潮！
                .btn.btn-round 一鍵起簽 
                    a(href="file_upload.html") 

append script
    //- script(src='./js/bodymovin.js')
    //- script(src='./js/lottie-web.js')
    //- script(src='./js/david_animation.js')
