extends _layout.pug

append vars
    - var title = '上傳檔案';

append content

    include _header.pug

    .index
        //- .index_head
        .wrap_inner
            .index_top_tab
                a 進度條放這
            .index_center_wrap
                .center_wrap_topTab
                    a.tab_item.tab_item--active(href="#" title="上傳檔案") 上傳檔案
                    a.tab_item(href="#" title="拍照上傳") 拍照上傳
                .center_wrap_bg
                    .center_content
                        .img-wrap-download
                            img(src="./imgs/icon_download.png", alt="")
                        .txt_wrap_upload
                            p 點擊此處上傳檔案
                            p 直接拖曳檔案至此(限 .pdf, .png, .jpg)
                            p 檔案不得超過10MB
                .bottom_wrap
                    .btn 上傳文件