doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(href='./css/vendor/bootstrap.min.css' rel='stylesheet')
    link(href='./css/vendor/bootstrap.min.css.map' )
    link(rel='stylesheet' href='./css/css.css' type='text/css')



    title 今晚，我想來點點簽
block content
    header 
        h1 沒錯我今天想來點點簽
    main
        p Wow~this is good way








script(src='./js/vendor/bootstrap.bundle.min.js' )
script(src='./js/vendor/jquery-3.6.0.min.js')
script(src='./js/jquery.js' )



