body {
  font: 100% $font;
  color: $primary-color;
  background-image: url(../imgs/background_design.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrap_inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 24px;

  //  @include respond-to("medium") {
  //    max-width: 991px;
  //    padding: 0 16px;
  //  }
}

//footer

.footer {
  text-align: center;
  background-color: #062b50;
  color: #fff;
  font-size: 12px;
  padding-top: 24px;
  padding-bottom: 24px;

  .underline {
    margin-left: 12px;
    border-bottom: 1px solid currentColor;
  }
}

.btn {
  color: white;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid transparent;
  padding: 12px 32px;
  cursor: pointer;
  background: radial-gradient(
    104.16% 106.67% at 50% 0%,
    #fe9b4b 0%,
    #f47814 100%
  );
  box-shadow: 0px 4px 8px rgba(255, 115, 0, 0.28);
  border-radius: 8px;

}

  


  //
// Base styles
//

.btn {

  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;



  &:hover {
    color: $body-color;
    transform: scale(1.05);
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow:0px 4px 8px rgba(255, 115, 0, 0.28);
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    transform: scale(1);


    &:focus {
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {



  }
}


.btn-primary{

  background: radial-gradient(125% 125% at 85.42% 0%, #85D3FF 0%, #2596D7 100%);
box-shadow: 0px 4px 8px rgba(37, 150, 215, 0.28);

&:hover{
  background-color: transparent;
  border-color: transparent;
}

&:active,&:focus,&:active:focus{
  color: #fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0 0 0rem;
}

}

.btn-secondary{



background: #D8D8D8;
color: #737373;
box-shadow: 0px 4px 8px rgba(160, 160, 160, 0.28);


&:hover,&:active,&:focus,&:active:focus{
  background: #D8D8D8;
  color: #737373;
  box-shadow: 0px 4px 8px rgba(160, 160, 160, 0.28);
  border: transparent;
  

}


}


















