// font

// $font-family: $custom-font-en,  'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Noto Sans', $custom-font-cht, '微軟正黑體', 'Microsoft JhengHei', sans-serif ;


$font:"微軟正黑體", "Noto Sans TC","Roboto", sans-serif;



// break point

// $xs:350px;
// $sm:576px;
// $md:768px;
// $lg:992px;
// $xl:1200px;


// color
$gray:#EBEBEB;
$gray100:#C4C4C4;
$gray200:#9C9C9C;
$gray300:#969696;
$gray400:#868686;
$gray500:#666666;
$gray600:#6E6E6E;



$white:#fff;
$black:black;
$red:#B9160F;
$red2:#B81C17;
$pink:#FFA9A6;
$green:#4CAF50;
$blue:#007Aff;






