// font

// $font-family: $custom-font-en,  'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Noto Sans', $custom-font-cht, '微軟正黑體', 'Microsoft JhengHei', sans-serif ;


$font:"微軟正黑體",
"Noto Sans TC",
"Roboto",
sans-serif;



// break point

// $xs:350px;
// $sm:576px;
// $md:768px;
// $lg:992px;
// $xl:1200px;


// color
$gray:#EBEBEB;
$gray100:#C4C4C4;
$gray200:#9C9C9C;
$gray300:#969696;
$gray400:#868686;
$gray500:#666666;
$gray600:#6E6E6E;



$white:#fff;
$black:black;
$red:#B9160F;
$red2:#B81C17;
$pink:#FFA9A6;
$green:#4CAF50;
$blue:#007Aff;

$primary-color: radial-gradient(104.16% 106.67% at 50% 0%, #FE9B4B 0%, #F47814 100%);
$secondary-color: radial-gradient(125% 125% at 85.42% 0%, #85D3FF 0%, #2596D7 100%);
$font-color:#59597C;
$light-font-color:rgba(89, 89, 125, 0.6);


//stepbar color

$dark-grey: #59597C; 
$gray: radial-gradient(125% 125% at 85.42% 0%, #C4DBE9 0%, #849DAB 100%);
$blue: radial-gradient(125% 125% at 85.42% 0%, #85D3FF 0%, #2596D7 100%);


$bg-color: #062b50;
$bg-2nd-color: #f3f4f5;

$breakpoints: ("xsmall":425px,
    "small": 767px,
    "medium": 991px,
    "large": 1200px,
) !default;